/* Установка толщины шрифта: */

.lighter {
    /* Задание менее жирного начертания шрифта, чем наследовано: */
    font-weight: lighter;
}

.bolder {
    /* Задание более жирного начертания шрифта, чем наследовано: */
    font-weight: bolder;
}

p i {
    /* Задание полужирного начертания шрифта для тэга курсивного 
       начертания внутри параграфа: */
    font-weight: bold;
}