/* Задание гарнитуры шрифта: */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Courier New', Courier, Monaco, monospace;
}

.copy {
    font-family: Arial, Helvetica, Geneva, sans-serif;
}