/* Стили для оформления нашего списка и иконок из иконочного шрифта FontAwesome: */

html {
    font-size: 16px;
}

ul {
    /* Внутренний отступ padding-left также обнуляется */
    padding: 0;
    text-align: center;
    /* Отключение маркеров у нумерованного списка: */
    list-style-type: none;
}

ul li {
    color: black;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
}

ul li:hover {
    color: blue;
    cursor: pointer;
}

ul li i {
    display: block !important;
    font-size: 3rem;
    color: blue;
}

ul li:hover i {
    color: black;
}
