$bgColor: #ccc;
$bgHeaderColor: #a0345f;
$textColor: #000;
$middleTextSize: 18px;

* {
    margin: 0;
}

body {
    background-color: $bgColor;
}

header {
    background-color: $bgHeaderColor;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.menu {
    list-style: none;
    margin: 15px;
    padding: 0;

    .menu__item {
        display: inline-block;
        padding: 5px 10px;

        a {
            text-decoration: none;
            color: $bgColor;
            font-size: $middleTextSize;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.search-form {
    margin: 15px;
    .search-form__input {
        font-size: $middleTextSize;
        background-color: $bgColor;
        color: $textColor;
        border: none;
        padding: 5px 10px;
    }

    .search-form__button {
        font-size: $middleTextSize;
    }
}
