body {
    /* Фоновый цвет: */
    background-color: #cecece;
    /* Внутренние отступы: */
    padding: 32px;
}

/* Элемент button (кнопка): */
button {
    /* Внешние отступы: */
    margin: 25px 15px;
    /* Отключение рамки (это свойство будет переопределено): */
    border: none;
    /* Радиус скругления уголков рамки. Если рамка не задана, 
       то скругление также происходит и с фоном: */
    border-radius: 5px;
    /* Толщина, стиль (цельный) и цвет рамки: */
    border: 1px solid lime;
    /* Внутренние отступы: */
    padding: 15px 35px;
}

/* Элемент button, над которым проходит указатель мыши: */
button:hover {
    /* Толщина, стиль (цельный) и цвет внешней границы: */
    outline: 1px solid white;
    /* Расстояние между границей, созданной с помощью свойства outline, 
       и рамкой элемента, добавленной через border. Отрицательное значение
       означает, что граница будет отрисовываться внутри рамки: */
    outline-offset: -2px;
    /* Форма курсора, когда он находится в пределах элемента - указатель: */
    cursor: pointer;
}

.button1 {
    /* Фоновый цвет: */
    background-color: #2563E9;
    /* Промежуток времени, в течение которого должен осуществляться 
       переход, т.е. время, за которое одно значение свойства переходит 
       (анимируется) в другое. */
    transition: 1s;
}

/* Элемент с классом button1, над которым проходит указатель мыши: */
.button1:hover {
    /* Фоновый цвет: */
    background-color: #4478E9;
}

.button2 {
    /* Фоновый цвет: */
    background-color: #2563E9;
    /* Промежуток времени, в течение которого должен осуществляться 
       переход, т.е. время, за которое одно значение свойства переходит 
       (анимируется) в другое. */
    transition: 1s;
    /* Название CSS-свойства, к которому будет применен эффект перехода.
       В данном случае это свойство background, которое устанавливает 
       сразу все свойства стиля фона: */
    transition-property: background;
}

/* Элемент с классом button2, над которым проходит указатель мыши: */
.button2:hover {
    /* Фоновый цвет: */
    background-color: #E95AD1;
    /* Отключение внешней границы: */
    outline: none;
}