/* Ключевые кадры анимации с именем bouncing: */
@keyframes bouncing {
    /* Каждый ключевой кадр начинается с указания момента от длительности 
       всей анимации и набора CSS-свойств, которые анимируемый элемент 
       должен принять к указанному моменту. В данном случае анимируется 
       положение элемента по горизонтали и вертикали, а также его тень.
       Начальные CSS-свойства анимируемого элемента: */
    0% {
        /* Добавление свойств left и bottom изменяет позицию элемента 
           с относительным позиционированием и сдвигает его в ту или иную 
           сторону от первоначального расположения: */
        left: 50px;
        bottom: 0;
        /* Черная полупрозрачная (0.5) тень с радиусом размытия 5px. */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    /*  Промежуточные CSS-свойства анимируемого элемента: */
    50% {
        left: 150px;
        bottom: 250px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    /* Конечные CSS-свойства анимируемого элемента: */
    100% {
        left: 350px;
        bottom: 0px;
        /* Черная, почти полностью прозрачная (0.1) тень, с радиусом размытия 
           50px, сдвинутая на 50px вниз относительно элемента: */
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    }
}

div {
    /* К элементу div применяется анимация, заданная последовательностью ключевых
       кадров с именем bouncing, продолжительностью 1 секунду. Она проигрывается 
       с ускорением по кубической кривой Безье, без предварительной задержки 
       (0 сек), бесконечное число раз (infinite), с изменением направления alternate 
       (каждый четный проход по кадрам будет проигрываться в обратном порядке). 
       Последнее свойство "animation-fill-mode: both" позволяет оставлять элемент 
       в первом ключевом кадре до начала анимации (игнорируя положительное значение 
       задержки) и задерживать на последнем кадре до конца последней анимации. */
    animation: bouncing 1s cubic-bezier(.1, .25, .1, 1) 0s infinite alternate both;
    /* Фоновый цвет: */
    background: lightslategrey;
    /* Тип элемента - блочный. Следует отметить, что div уже является 
       блочным элементом по умолчанию: */
    display: block;
    /* Ширина элемента: */
    width: 120px;
    /* Высота элемента: */
    height: 120px;
    /* Горизонтальное выравнивание текста (или строчных элементов): */
    text-align: center;
    /* Радиус скругления уголков рамки. Если рамка не задана, 
       то скругление также происходит и с фоном: */
    border-radius: 150px;
    /* Позиционирование блока устанавливается относительно 
       его исходного места: */
    position: relative;
    /* Внешний отступ сверху: */
    margin-top: 250px;
}

/* Псевдоэлемент ":before" применяется для отображения желаемого контента 
   до содержимого элемента div, к которому он добавляется: */
div:before {
    /* Вставка нового содержания в текст веб-страницы, которое первоначально 
       в тексте отсутствует. Свойство content применяется совместно 
       с псевдоэлементом ":before", поэтому новое содержимое будет отображаться
       до элемента div, к которому оно добавляется.*/
    content: "Ball";
    /* Тип элемента - блочно-строчный. Его внутренняя часть форматируется 
       как блочный элемент, а сам элемент - как строчный: */
    display: inline-block;
    /* Внешний отступ сверху: */
    margin-top: 40px;
    /* Цвет текста: */
    color: white;
    /* Размер шрифта: */
    font-size: 2rem;
}