body {
    /* Фоновый цвет: */
    background-color: #cecece;
    /* Сброс внутренних отступов: */
    padding: 0;
}

div {
    /* Ширина элемента: */
    width: 40px;
    /* Высота элемента: */
    height: 40px;
    /* Позиционирование блока устанавливается относительно 
       его исходного места: */
    position: relative;
    /* Добавление свойства left изменяет позицию элемента и сдвигает 
       его в сторону от первоначального расположения: */
    left: 10px;
    /* Промежуток времени, в течение которого должен осуществляться 
       переход, т.е. время, за которое одно значение свойства переходит 
       (анимируется) в другое. */
    transition: 1s;
}

.container {
    /* Элемент занимает всю ширину родительского элемента: */
    width: 100%;
    /* Элемент занимает всю высоту родительского элемента: */
    height: 100%;
}

/* Элемент div, который находится внутри элемента с классом container 
   (вне зависимости от уровня вложенности), над которым проходит указатель 
   мыши: */
.container:hover div {
    /* Добавление свойства left изменяет позицию элемента с относительным
       позиционированием и сдвигает его в сторону от первоначального 
       расположения: */
    left: 500px;
    /* Таким образом, при наведении указателя мыши на контейнер, все 
       элементы div в нём смещаются вправо на 500 пикселей. */
}

.ease {
    /* Фоновый цвет: */
    background-color: blue;
    /* Кривая скорости эффекта перехода. Переход начинается медленно, 
       разгоняется быстро и замедляется в конце: */
    transition-timing-function: ease;
}

.linear {
    /* Фоновый цвет: */
    background-color: lime;
    /* Переход происходит равномерно на протяжении всего времени, 
       без колебаний в скорости: */
    transition-timing-function: linear;
}

.ease-in {
    /* Фоновый цвет: */
    background-color: mediumseagreen;
    /* Переход начинается медленно, а затем плавно ускоряется в конце: */
    transition-timing-function: ease-in;
}

.ease-out {
    /* Фоновый цвет: */
    background-color: orangered;
    /* Переход начинается быстро и плавно замедляется в конце: */
    transition-timing-function: ease-out;
}

.ease-in-out {
    /* Фоновый цвет: */
    background-color: darkviolet;
    /* Переход медленно начинается и медленно заканчивается: */
    transition-timing-function: ease-in-out;
}