body {
    /* Фоновый цвет: */
    background-color: #cecece;
    /* Внутренние отступы: */
    padding: 32px;
}

/* Элемент button (кнопка): */
button {
    /* Внешние отступы: */
    margin: 25px 15px;
    /* Отключение рамки (это свойство будет переопределено): */
    border: none;
    /* Радиус скругления уголков рамки. Если рамка не задана, 
       то скругление также происходит и с фоном: */
    border-radius: 5px;
    /* Толщина, стиль (цельный) и цвет рамки: */
    border: 1px solid lime;
    /* Внутренние отступы: */
    padding: 15px 35px;
}

/* Элемент button, над которым проходит указатель мыши: */
button:hover {
    /* Толщина, стиль (цельный) и цвет внешней границы: */
    outline: 1px solid white;
    /* Расстояние между границей, созданной с помощью свойства outline, 
       и рамкой элемента, добавленной через border. Отрицательное значение
       означает, что граница будет отрисовываться внутри рамки: */
    outline-offset: -2px;
    /* Форма курсора, когда он находится в пределах элемента - указатель: */
    cursor: pointer;
}

.button1 {
    /* Фоновое изображение элемента - линейный градиент (плавный переход 
       от одного цвета к другому) сверху вниз: */
    background-image: linear-gradient(#76B9CC, #97cc76);
}

.button2 {
    /* Фоновое изображение элемента - линейный градиент сверху вниз, 
       состоящий из трех цветов: */
    background-image: linear-gradient(#76B9CC, #CC208A, #97cc76);
}

.button3 {
    /* Фоновое изображение элемента - линейный градиент сверху вниз, 
       состоящий из четырех цветов: */
    background-image: linear-gradient(#76B9CC, #CC208A, #97cc76, #B34EE9);
}

.button4 {
    /* Фоновое изображение элемента - линейный градиент сверху вниз, 
       состоящий из четырех цветов, с указанием позиций относительно 
       верхней грани элемента, на которых должны располагаться цвета 
       (в процентах от высоты элемента): */
    background-image: linear-gradient(blue 5%, lime 30%, #97cc76 80%, #B34EE9 90%);
}

.button5 {
    /* Фоновое изображение элемента - линейный градиент сверху вниз, 
       состоящий из четырех цветов, с указанием позиций относительно 
       верхней грани элемента, на которых должны располагаться цвета 
       (в пикселях): */
    background-image: linear-gradient(blue 5px, lime 15px, white 30px, black 50px);
}

.button6 {
    /* Фоновое изображение элемента - линейный градиент под углом 
       25 градусов: */
    background-image: linear-gradient(25deg, blue, lime);
}

.button7 {
    /* Фоновое изображение элемента - радиальный градиент, начинающийся
       в центре элемента, с указанием позиций (в процентах), 
       на которых должны располагаться цвета: */
    background-image: radial-gradient(red 0%, yellow 30%);
}

.button8 {
    /* Фоновое изображение элемента - радиальный градиент с центром 
       в верхнем правом углу элемента: */
    background-image: radial-gradient(at top right, red, yellow);
}

.button9 {
    /* Фоновое изображение - радиальный градиент с центром в первой 
       четверти элемента по горизонтали и по его центру по вертикали. 
       Форма градиента вычисляется на основании информации о расстоянии 
       до дальнего угла элемента (farthest-corner): */
    background-image: radial-gradient(farthest-corner at 25% 50%, #f35 0%, #43e 100%);
}

.button10 {
    /* Фоновое изображение - радиальный градиент размером 15 на 15 
       пикселей с центром в третьей четверти элемента по горизонтали 
       и в первой четверти по вертикали: */
    background-image: radial-gradient(15px 15px at 85% 25%, #f35 0%, #43e 100%);
}
