/* Для всех элементов: */
* {
    /* Внутренние и внешние отступы будут «съедать» внутренние размеры блоков,
       а не наоборот: */
    box-sizing: border-box;
}

/* Сброс внешних и внутренних отступов для тегов html и body позволяет 
   отрисовывать страницу от самого края области просмотра браузера,
   а стопроцентная высота позволяет растянуть по всей высоте экрана даже 
   небольшую страницу: */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /* Ширина макета сайта: */
    width: 840px;
    /* Выравнивание по центру для того, чтобы он располагался по середине 
       страницы и не прилипал ни к какому краю. Обнуление отступов сверху 
       и снизу для того, чтобы сетка начинала формироваться от верхнего края
       области просмотра браузера и свободно могла доходить до ее нижнего 
       края: */
    margin: 0 auto;
    /* Фоновый цвет, отображаемый за пределами основной страницы: */
    background-color: lightslategray;
}

/* Шапка и подвал: */
header, footer {
    /* Высота: */
    height: 100px;
    /* Фоновый цвет: */
    background-color: #9ACD32;
}

/* Боковые колонки: */
aside {
    /* Ширина боковых колонок: */
    width: 170px;
}

article, .left {
    /* Включение обтекания блока, при котором он прижимается к левому краю.
       Это позволяет указанным блокам располагаться по горизонтали в одну
       строку последовательно друг за другом, начиная с левого края: */
    float: left;
}

.right {
    /* Включение обтекания блока, при котором он прижимается к правому краю. */
    float: right;
    /* Отрицательный внешний отступ справа на величину собственной ширины
       смещает колонку до правой границы блока main: */
    margin-right: -170px;
}

.left {
    /* Отрицательный внешний отступ слева на величину собственной ширины
       смещает колонку до левой границы блока main: */
    margin-left: -170px;
}

header {
    /* Относительное позиционирование блока устанавливается относительно 
       его исходного места и отображает шапку на переднем плане относительно
       блока main: */
    position: relative;
    /* Отрицательный внешний отступ снизу на величину собственной высоты
       опускает шапку до уровня верхней границы блока main: */
    margin-bottom: -100px;
}

footer {
    /* Отрицательный внешний оступ сверху на величину собственной высоты 
       поднимает подвал до уровня нижней границы блока main: */
    margin-top: -100px;
    /* Отмена обтекания элемента одновременно с правого и левого края: */
    clear: both;
}

/* Создать колонки одинаковой высоты из плавающих блоков непросто. Поскольку 
   высота плавающих блоков вычисляется автоматически исходя из их содержимого,
   то их высота окажется разной. Вместо того, чтобы назначать фон самим колонкам,
   они оставляются прозрачными, а их контейнеру назначается фоновая картинка 
   шириной во весь контейнер и повторяющаяся по вертикали. Части этой картинки, 
   находящиеся под разными колонками, красятся в разные цвета и при повторении 
   вниз это дает нужный визуальный эффект, называемый «Ложные колонки» ("Faux
   columns").
   Внутри блока main располагаются три плавающих элемента: две боковые колонки
   aside и список статей article. Этот блок принимает всю доступную ему высоту.
   С помощью своих левых и правых рамок он задает фоновый цвет для боковых 
   колонок aside. С помощью своего собственного фонового цвета, он задает фоновый 
   цвет для списка статей article. */
main {
    /* Внутренний отступ сверху компенсирует высоту шапки и позволяет вместить
       панель навигации слева и боковую панель справа: */
    padding: 100px 0px 0px;
    /* Принудительное задание полной доступной высоты для того, чтобы создавать
       фоновый цвет ниже внутренних плавающих элементов: */
    min-height: 100%;
    /* Фоновый цвет: */
    background-color: white;
    /* Боковые рамки имеют ширину колонок и задают им фоновый цвет: */
    border-width: 0 170px;
    border-color: #F4F4DB;
    border-style: solid;
}

/* Для того, чтобы плавающие элементы (боковые колонки и список статей article) 
   не выпадали из родительского блока main, используется прием «псевдораспорка»: 
   контейнеру main, содержащему флоаты, добавляется псевдоэлемент с clear:both. 
   Этот псевдоэлемент расположен после плавающих: */
main::after {
    /* Отмена обтекания элемента одновременно с правого и левого края: */
    clear: both;
    content: "";
    display: table;
}

/* Внутренние отступы у основных блоков сайта: */
header, footer, aside, article {
    padding: 15px;
}

/* Параметры списка статей: */
article {
    /* Внутренний отступ сверху нивелирует верхний отступ у первого заголовка: */
    padding-top: 0;
}