/* Объявление CSS переменных: */
:root {
    /* Ширина макета сайта: */
    --site-layout-width: 840px;
    /* Высота шапки и подвала: */    
    --header-footer-height: 100px;
    /* Ширина боковых колонок: */
    --aside-width: 170px;
    /* Внутренние отступы у основных блоков сайта: */
    --basic-paddings: 15px;
    /* Фоновый цвет, отображаемый за пределами основной страницы: */
    --background-color: lightslategray;
    /* Фоновый цвет шапки и подвала: */
    --header-footer-background-color: #9ACD32;
    /* Фоновый цвет боковых колонок: */
    --aside-background-color: #F4F4DB;
    /* Фоновый цвет списка статей: */
    --article-background-color: white;
}

/* Для всех элементов: */
* {
    /* Внутренние и внешние отступы будут «съедать» внутренние размеры блоков,
       а не наоборот: */
    box-sizing: border-box;
}

/* Сброс внешних и внутренних отступов для тегов html и body позволяет 
   отрисовывать страницу от самого края области просмотра браузера,
   а стопроцентная высота позволяет растянуть по всей высоте экрана даже 
   небольшую страницу: */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /* Ширина макета сайта: */
    width: var(--site-layout-width);
    /* Выравнивание по центру для того, чтобы он располагался по середине 
       страницы и не прилипал ни к какому краю. Обнуление отступов сверху 
       и снизу для того, чтобы сетка начинала формироваться от верхнего края
       области просмотра браузера и свободно могла доходить до ее нижнего 
       края: */
    margin: 0 auto;
    /* Фоновый цвет, отображаемый за пределами основной страницы: */
    background-color: var(--background-color);
}

/* Шапка и подвал: */
header, footer {
    /* Высота: */
    height: var(--header-footer-height);
    /* Фоновый цвет: */
    background-color: var(--header-footer-background-color);
}

/* Боковые колонки: */
aside {
    /* Ширина боковых колонок: */
    width: var(--aside-width);
}

article, .left {
    /* Включение обтекания блока, при котором он прижимается к левому краю.
       Это позволяет указанным блокам располагаться по горизонтали в одну
       строку последовательно друг за другом, начиная с левого края: */
    float: left;
}

.right {
    /* Включение обтекания блока, при котором он прижимается к правому краю. */
    float: right;
    /* Отрицательный внешний отступ справа на величину собственной ширины
       смещает колонку до правой границы блока main: */
    margin-right: calc(var(--aside-width) * -1);
}

.left {
    /* Отрицательный внешний отступ слева на величину собственной ширины
       смещает колонку до левой границы блока main: */
    margin-left: calc(var(--aside-width) * -1);
}

header {
    /* Относительное позиционирование блока устанавливается относительно 
       его исходного места и отображает шапку на переднем плане относительно
       блока main: */
    position: relative;
    /* Отрицательный внешний отступ снизу на величину собственной высоты
       опускает шапку до уровня верхней границы блока main: */
    margin-bottom: calc(var(--header-footer-height) * -1);
}

footer {
    /* Отрицательный внешний оступ сверху на величину собственной высоты 
       поднимает подвал до уровня нижней границы блока main: */
    margin-top: calc(var(--header-footer-height) * -1);
    /* Отмена обтекания элемента одновременно с правого и левого края позволяет
       подвалу всегда располагаться под самой высокой колонкой: */
    clear: both;
}

/* Внутри блока main располагаются три плавающих элемента: две боковые колонки
   aside и список статей article. Этот блок принимает всю доступную ему высоту. */
main {
    /* Принудительное задание полной доступной высоты для того, чтобы создавать
       фоновый цвет ниже внутренних плавающих элементов: */
    min-height: 100%;
}

    /* Создать колонки одинаковой высоты из плавающих блоков непросто. 
       Поскольку высота плавающих блоков вычисляется автоматически, исходя из их 
       содержимого, то их высота окажется разной. Вместо того, чтобы назначать 
       фон самим колонкам, они оставляются прозрачными, а их контейнеру 
       назначается фоновая картинка шириной во весь контейнер, повторяющаяся 
       по вертикали. Части этой картинки, находящиеся под разными колонками, 
       красятся в разные цвета, и при повторении вниз это дает нужный визуальный 
       эффект, называемый «Ложные колонки» ("Faux columns"). Ниже представлено
       два варианта создания этого эффекта. Для переключения между ними в коде
       HTML нужно задать блоку main соответствующий класс (v1 или v2): */
main.v1 {
    /* Вариант 1.
       С помощью своих левых и правых рамок блок main задает фоновый цвет для 
       боковых колонок aside. С помощью своего собственного фонового цвета, 
       блок задает фоновый цвет для списка статей article.
       Внутренний отступ сверху компенсирует высоту шапки, а боковые отступы  
       позволяют вместить панель навигации слева и боковую панель справа: */
    padding: var(--header-footer-height) 0 0;
    /* Фоновый цвет: */
    background-color: var(--article-background-color);
    /* Боковые рамки имеют ширину колонок и задают им фоновый цвет: */
    border-width: 0 var(--aside-width);
    border-color: var(--aside-background-color);
    border-style: solid;
}
main.v2 {
    /* Вариант 2.
      С помощью своего фона, сформированного линейным градиентом, блок main 
      задает фоновый цвет как для боковых колонок aside, так и для списка статей
      article. Этот способ позволяет задавать любые цвета для произвольного 
      числа колонок.
      Внутренний отступ сверху компенсирует высоту шапки, а боковые отступы  
      позволяют вместить панель навигации слева и боковую панель справа: */
    padding: var(--header-footer-height) var(--aside-width) 0;
    /* Фоновый цвет для списка статей и колонок задается с помощью линейного 
       градиента: */
    background: linear-gradient(to right, 
        var(--aside-background-color)   var(--aside-width), 
        var(--article-background-color) var(--aside-width)
                                        calc(100% - var(--aside-width)), 
        var(--aside-background-color)   calc(100% - var(--aside-width))
    );
}

/* Для того, чтобы плавающие элементы (боковые колонки и список статей article) 
   не выпадали из родительского блока main, используется прием «псевдораспорка»: 
   контейнеру main, содержащему флоаты, добавляется псевдоэлемент с clear:both. 
   Этот псевдоэлемент расположен после плавающих: */
main::after {
    /* Отмена обтекания элемента одновременно с правого и левого края: */
    clear: both;
    content: "";
    display: table;
}

/* Внутренние отступы у основных блоков сайта: */
header, footer, aside, article {
    padding: var(--basic-paddings);
}

/* Параметры списка статей: */
article {
    /* Внутренний отступ сверху нивелирует верхний отступ у первого заголовка: */
    padding-top: 0;
}